{% if project.redirect -%}
  <a href="{{ project.redirect }}">
{% else %}
  <a href="{{ project.url | relative_url }}">
{% endif %}
    <div class="card hoverable mb-3">
        <div class="card-body">
            <!-- Workshop Title -->
            <h5 class="card-title">{{ project.title }}</h5>
            
            <!-- Workshop Date and Category -->
            <h6 class="card-subtitle mb-2">
                {{ project.category }} &middot; {{ project.date | date: '%B %-d, %Y' }}
            </h6>
            
            <!-- Workshop Description -->
            <p class="card-text">{{ project.content | truncatewords: 30 }}</p>
        </div>
    </div>
</a>

{% schema %}
{
    "name": "Workshop Card",
    "settings": [
        {
            "type": "text",
            "id": "heading1",
            "label": "Heading 1",
            "default": "{{ project.title }}"
        },
        {
            "type": "richtext",
            "id": "richtext1",
            "label": "Richtext 1",
            "default": "<p>{{ project.description }}</p>"
        }
    ],
    "presets": [
        {
            "name": "Default"
        }
    ]
}
{% endschema %}
